@import './variables.css';
/* Close Button */
.modal__closeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--text-color-black);
  transition: color 0.3s ease;
}

.modal__closeButton:hover {
  color: var(--text-color-grey);
}
