:root {
  --primary-color: #5B43D3;
  --primary-color-dark: #4a30b3;
  --primary-color-light: #9278FF;
  --secondary-color: #cadcdf;
  --active-color: #5B43D3;
  --text-color-black: #333;
  --text-color-grey: #a4a1a1;
  --text-color-white: #ffffff;
  --hover-text-color: #ffffff;
  --background-color-white: #ffffff;
  --modal-black-opaque: rgba(0, 0, 0, 0.8);
  --shadow-black: rgba(0, 0, 0, 0.5);
}
