.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.logo img {
  width: 120px;
}

@media (max-width: 768px) {
  .logo img {
    width: 90px;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 60px;
  }
}
