.movie-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin: 10px;
  background-color: #fff;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
  transition: opacity 0.3s;
}

.movie-card:hover img {
  opacity: 0.7;
}

.movie-card .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movie-card:hover .play-icon {
  opacity: 1;
}

.movie-card .play-icon:hover {
  background: rgba(0, 0, 0, 0.7);
}

.movie-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
  padding: 0 10px;
}

.movie-card p {
  font-size: 1em;
  margin: 5px 0;
  padding: 0 10px;
}

.movie-card button {
  background-color: #5a40df;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
  transition: background-color 0.3s;
  display: block;
  font-weight: 700;
}

.movie-card button:hover {
  background-color: #4a30b3;
}
