@import '../styles/variables.css';

/* Movie Card Container */
.movieCard {
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--shadow-black);
  transition: transform 0.3s;
  margin: 8px;
  background-color: var(--background-color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movieCard:hover {
  transform: scale(1.05);
}

/* Movie Card Image */
.movieCard__image {
  width: 100%;
  object-fit: contain;
  display: block;
  opacity: 1;
  transition: opacity 0.3s;
}

.movieCard:hover .movieCard__image {
  opacity: 0.7;
}

/* Play Icon */
.movieCard__playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: var(--text-color-white);
  opacity: 0;
  transition: opacity 0.3s;
  background: var(--modal-black-opaque);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movieCard:hover .movieCard__playIcon {
  opacity: 1;
}

.movieCard__playIcon:hover {
  background: var(--shadow-black);
}

/* Movie Card Title */
.movieCard__title {
  font-size: 1.3em;
  margin: 16px 0 4px;
  padding: 0 8px;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Movie Card Overview */
.movieCard__overview {
  font-size: 1em;
  margin: 12px 0;
  padding: 0 8px;
  line-height: 1.3;
  height: 80px;
  overflow: scroll;
  -webkit-box-orient: vertical;
}

/* Movie Card Button */
.movieCard__button {
  background-color: var(--primary-color-light);
  color: var(--text-color-white);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  margin: 24px auto;
  transition: background-color 0.3s;
  display: block;
  font-weight: 700;
  height: 40px;
  align-self: center;
}

.movieCard__button:hover {
  background-color: var(--primary-color);
}

/* Responsive Design */
@media (max-width: 480px) {
  .movieCard {
    width: 100%;
    margin: 4px;
  }

  .movieCard__image {
    height: auto;
  }

  .movieCard__title {
    font-size: 1.1em;
  }

  .movieCard__overview {
    font-size: 0.9em;
    height: auto;
  }

  .movieCard__button {
    padding: 8px 16px;
  }
}