@import '../styles/variables.css';

/* ============================= */
/* Navbar Styles */
/* ============================= */

.navbar {
  background-color: var(--secondary-color);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar Header */
.navbar__header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* Logo */
.navbar__logo {
  display: flex;
  align-items: center;
}

/* Hamburger Icon */
.navbar__hamburger {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: var(--text-color-black);
  display: none; /* Hidden by default on desktop */
}

/* ============================= */
/* Navbar Menu */
/* ============================= */

.navbar__menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar__menu-list {
  list-style: none;
  margin: 0;
  padding-left: 12px;
  display: flex;
}

.navbar__menu-item {
  margin: 10px 4px;
  text-align: center;
}

.navbar__menu-link {
  color: var(--text-color-black);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  display: block;
}

.navbar__menu-link--active {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
}

.navbar__menu-link--active,
.navbar__menu-link:hover {
  background-color: var(--active-color);
  color: var(--hover-text-color);
}

/* ============================= */
/* Navbar Search and Menu Toggle */
/* ============================= */

.navbar__search-hamburger {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

/* ============================= */
/* Responsive Design */
/* ============================= */

@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__header {
    flex-wrap: wrap;
  }

  .navbar__header > * {
    flex: 1 1 50%;
  }

  /* Show Hamburger Menu */
  .navbar__hamburger {
    display: block;
  }

  /* Hide menu initially */
  .navbar__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }

  /* Opened Menu */
  .navbar__menu--open {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    max-height: 500px;
  }

  /* Mobile Menu List */
  .navbar__menu-list {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }

  .navbar__menu-item {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
  }

  .navbar__menu-item:last-child {
    border-bottom: none;
  }

  .navbar__menu-link {
    padding: 10px 0;
  }
}
