@import '../styles/variables.css';

/* Navbar Container */
.navbar {
  background-color: var(--primary-color);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar Header */
.navbar__header {
  display: flex;
  align-items: center;
}

/* Logo Container */
.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* Navbar Title */
.navbar__title {
  font-size: 2em;
  margin: 0;
  color: var(--secondary-color);
  text-shadow: 2px 2px 4px var(--shadow-black);
  text-align: center;
}

/* Navbar Menu */
.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu-list {
  list-style-type: none;
  margin: 0;
  padding-left: 12px;
  display: flex;
}

.navbar__menu-item {
  margin: 10px 0;
  text-align: center;
}

.navbar__menu-link {
  color: var(--text-color-black);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
}

.navbar__menu-link--active {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
}

.navbar__menu-link--active,
.navbar__menu-link:hover {
  background-color: var(--active-color);
  color: var(--hover-text-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__header {
    width: 100%;
    justify-content: space-between;
  }

  .navbar__menu {
    width: 100%;
  }

  .navbar__menu-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
