.navbar {
  background-color: #DDE0CD;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar h1 {
  font-size: 2em;
  margin: 0;
  color: #5B43D3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding-left: 12px;
  display: flex;
}

.navbar ul li {
  margin: 10px 0;
  text-align: center;
}

.navbar ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
}

.navbar ul li a:hover {
  background-color: #5a40df;
  color: white;
}
