@import '../styles/variables.css';

.searchInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.searchInput__label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  color: var(--text-color-black);
}

.searchInput__input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.searchInput__input:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 5px var(--shadow-black);
}
