@import '../styles/common.css';
@import '../styles/variables.css';

/* Modal Container */
.spoilerModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--modal-black-opaque);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

/* Modal Content Box */
.spoilerModal__content {
  background: var(--background-color-white);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  box-shadow: 0 4px 12px var(--modal-black-opaque);
}

/* Close Button */
.modal__closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Spinner */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
