@import '../styles/common.css';
@import '../styles/variables.css';

/* Modal Container */
.spoilerModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--modal-black-opaque);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

/* Modal Content Box */
.spoilerModal__content {
  background: var(--background-color-white);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 90%;
  box-shadow: 0 4px 12px var(--modal-black-opaque);
}
