body {
  background-color: #DDE0CD;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
}


.App__movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
