@import './styles/variables.css';
@import './styles/common.css';


body {
  background-color: var(--secondary-color);
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
  height: 200px;
}


.App__movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 16px;
}
